<h2>Code to create math_contests database</h2>

setup:

In [1]:
import pymysql

from sqlalchemy import create_engine

import pandas as pd
import csv

In [ ]:
# replace user and password for the following three code blocks

In [2]:
%load_ext sql
%sql mysql+pymysql://<user>:<password>@localhost
%sql SELECT 1

 * mysql+pymysql://root:***@localhost
1 rows affected.

[(1,)]

In [3]:
sql_engine = create_engine("mysql+pymysql://<user>:<password>@localhost")

In [4]:
sql_conn = pymysql.connect(
    user = "your_username",
    password = "your_password",
    port = 3306,
    cursorclass = pymysql.cursors.DictCursor,
    autocommit = True
)

cur = sql_conn.cursor()

def execute_query(str):
    cur.execute(str)
    return cur.fetchall()

execute_query("SELECT 1;")

[{'1': 1}]

Create database

In [5]:
%%sql

DROP SCHEMA IF EXISTS math_contests;
CREATE SCHEMA math_contests;
USE math_contests;

 * mysql+pymysql://root:***@localhost
2 rows affected.
1 rows affected.
0 rows affected.

[]

<h2>Code to add amc8 content to database</h2>
Retrieve amc8 problems from csv file and insert them

In [6]:
'''
Expects csv file with ";" delimiter
'''
def load_csv(file_name, table_name, schema):
    df = pd.read_csv(file_name, delimiter=";")
    df.to_sql(table_name, con=sql_engine, schema=schema, if_exists="replace", index=False)

In [7]:
%%sql

USE math_contests;
DROP TABLE IF EXISTS AMC_8;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.

[]

In [9]:
# now retrieve the problems from scraped_amc8.csv
table_name = "AMC_8"
file_name = "./Scraped_AMC_8.csv"
schema = "math_contests"

cur.execute("USE math_contests;")
cur.execute("DROP TABLE IF EXISTS %s;" % table_name)
load_csv(file_name, table_name, schema)

Make sure the amc8 table has primary key

In [10]:
%%sql

ALTER TABLE AMC_8
ADD PRIMARY KEY (year, number)

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

Process the tags data to figure out what tags we have

In [12]:
file_name = "./Scraped_AMC_8.csv"
df = pd.read_csv(file_name, delimiter=";")
df

,year,number,content,answer,tags
0,2023,1,"What is the value of <img src=""//latex.artofpr...",D,"AMC 8,AMC,creative,MAA"
1,2023,2,A square piece of paper is folded twice into f...,E,AMC 8
2,2023,3,<i>Wind chill</i> is a measure of how cold peo...,B,"AMC,AMC 8"
3,2023,4,"The numbers from <img src=""//latex.artofproble...",D,"AMC 8,geometry"
4,2023,5,"A lake contains <img src=""//latex.artofproblem...",B,"ratio,AMC,AMC 8"
...,...,...,...,...,...
945,1985,21,"Mr. Green receives a <img src=""//latex.artofpr...",E,percent
946,1985,22,"Assume every <span style=""white-space:nowrap;""...",B,"AMC 8,Why the bump"
947,1985,23,"King Middle School has <img src=""//latex.artof...",E,NaN
948,1985,24,"<img src=""//latex.artofproblemsolving.com/2/a/...",D,NaN
949,1985,25,"<img src=""//latex.artofproblemsolving.com/4/5/...",A,NaN

In [13]:
non_null_tags_df = df[df['tags'].notnull()]
tags = ','.join(non_null_tags_df['tags'].tolist())
tags_unique = set(tags.split(','))

In [14]:
to_discard = ['1986', '2019', 'amc', 'aime', 'ajhsme', 'aopswiki', 'bob', 'latex', 'love ya guys', 'maa', 'mathcounts',
              'rice', 'siukkduilykgjk', 'skrrt', 'support', 'why the bump', 'videos', 'you are bad']
tags = {t.lower() for t in tags_unique if all(x not in t.lower() for x in to_discard)}

Add the tags into a category table in the database

In [15]:
%%sql

DROP TABLE IF EXISTS category;
CREATE TABLE category
(
    category VARCHAR(127) PRIMARY KEY
);

DROP TRIGGER IF EXISTS lower_insert;
CREATE TRIGGER lower_insert BEFORE INSERT ON category
FOR EACH ROW
SET NEW.category = LOWER(NEW.category);

DROP TRIGGER IF EXISTS lower_update;
CREATE TRIGGER lower_update BEFORE UPDATE ON category
FOR EACH ROW
SET NEW.category = LOWER(NEW.category);

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [16]:
for tag in tags:
    cur.execute(
        "insert into category values (%s);", (tag)
    )